ul li a {
    color: white;
}

div.columna-1{
    width: 33%;
    float: left;
}

div.columna-3 {
    width: 33%;
    float: left;
    height: 500px;
}

div.columna-2{
    width: 33%;
    text-align: left;
    float:left;
}

form #rut {
    width: 80px;
}

form #dv {
    width: 20px;
}

form #edad {
    width: 40px;
}

div.cabecera{
    text-align: center;
}

body{
    background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );
}

.texto-justificado{
    text-align: justify;
}

div.form-line{
    margin-bottom: 10px;  
}

form label {
    width: 120px;
    display: inline-block;
    }


.blanco{
color: white;
}

.form-linebuttons{
    text-align: center;
}
